:host {
  display: block;
  color:white
}


.ms-login-button {
  display: block;
  transition: 300ms;

  outline: 1px solid transparent;

  &:hover {
    outline: 1px solid #8c8c8c;
  }
}

.ms-login-button, .login-button {
  margin: 32px auto;
}

.login-button {
  width:215px;
  height:40px;
  border-radius:2px;
  position:relative;
  background: var(--background-color);
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  transition: 300ms;
}

.login-button span{
  font-family: 'Roboto';
  position:absolute;
  color:white;
  font-weight:500;
  font-size:14px;
  left:50px;
  padding-top:11px;
  padding-bottom:11px;
  user-select: none;
  cursor:pointer;
}

.login-button:hover{
  background: var(--background-color-hover);
  box-shadow:0 4px 5px 0 rgba(70, 136, 241, 0.14),0 1px 10px 0 rgba(70, 136, 241, 0.14),0 2px 4px -1px rgba(70, 136, 241, 0.14);
}

.login-button.google {
  --background-color: #4688f1;
  --background-color-hover: #376ad3;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.login-button.github {
  --background-color: #24292e;
  --background-color-hover: #24292edb;
  display: flex;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
  img {
    height: 75%;
    object-fit: contain;
    margin-left: 8px;
  }
}

