:host {
  display: block;
  background: var(--background-color);
  --button-hover-background-color: var(--config-picker-button-hover-background-color, rgba(0,0,0,.12));
}

.card {
  background-color: var(--card-background-color);
  width: calc(100% - (var(--padding-base) * 2));
  height: 150px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 300ms;
  overflow: hidden;
  justify-self: center;
  padding: var(--padding-base);
  box-sizing: content-box;
  border: 1px solid var(--border-color);

  &:hover {
    transform: scale(1.02);
  }

  h3 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: bold;
  }
}

.grid-container {
  display: grid;
  grid-gap: var(--padding-base);
  grid-template-columns: repeat(2, 1fr);
  padding: var(--padding-base);
  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

button.md {
  padding: 0 16px;
  background: transparent;
  border: 0;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 36px;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 300ms;
  background-color: transparent;
  color: currentColor;
  &:hover {
    background-color: var(--button-hover-background-color);
  }
}

.base-environments-list {
  padding: var(--padding-base);
  position: relative;

  .card {
    margin-bottom: var(--padding-base);
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .back-button {
    min-width: 0;
    position: absolute;
    left: calc( var(--padding-base) / 2);
    top: calc( var(--padding-base) / 2);
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 0;
    .back-icon {
      transform: rotate(180deg);
    }
  }

  .base-environments-list-item {
    h4, p {
      margin: 0;
    }

    p {
      display: flex;
      align-items: center;
      margin-top: calc(var(--padding-base) / 2);
      button {
        margin-left: auto;
      }
    }
  }

  .base-environments-list-item + .base-environments-list-item {
    margin-top: calc(var(--padding-base) / 2);
  }
}


.error-feedback {
  color: var(--error-color);
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  eva-config-picker-spinner {
    margin-right: var(--padding-base);
  }
}

eva-config-picker-endpoint-status {
  margin-left: calc(var(--padding-base) / 2);
}
